 <!--notas de clase para adjuntar luego --> 
 <div class="product {{#if options}}product--with-options{{/if}}">


 <header class="product__header">
     <h2 class="product__title">{{ title }}</h2> 
 </header>

 <section class="product__section">
     <img src="{{ img }}" alt="">
     <p class="product__description">{{ description }}</p>
 </section>


 <!--cuando el producto tiene opciones disponibles (larga, corta, lisa, rizada) --> 
 {{# if options}}
 <h3>This wig has these customable styles</h3>
 {{#each options}}
 <p>{{ this }}</p>
 {{/each}}
 {{else}}
 <h3>This wig has a unique style</h3>
 {{/if}}

 <!--cuando al producto se le puede hacer cambios personalizados--> 
 {{#if variations}}
 <h3>You can customize the wig</h3>
 <ol>
     {{#each variations}}
     <li>{{ name }} <strong>{{ price }}</strong></li>
     {{/each}}
 </ol>
 {{/if}}


 <!--cuando la peluca tiene freeShipping (>$100) --> 
 {{#if freeShipping}}
 <h3>This wig has Free Shipping Worldwide</h3>
 {{/if}}

<!--cuando la peluca es Kardashian Kollection (>$100) --> 
 {{#if kardashianAproved}}
 <h3>This wig is Kardashian Kollection Aproved</h3>
 {{/if}}

 </div>
   
 
