<!--notas de clase para adjuntar luego -->
<div class="producti">
    <!--Link para volver a la Shop -->
    <div class="product__return"><span class="product__returnarrow"><i class="fas fa-chevron-left"></i></span><a
            href="/shop" target="_self"></i>Return to results</a></div>

    <!--Galería del producto individual -->
    <section class="product__section">
        <div class="product__gallery">
            <img class="product__gallerymain" src="" alt="">
            <div class="product__gallerythumbs">
                <img class="product__gallerythumb" src="{{ img }}" alt="">
                <img class="product__gallerythumb" src="{{ img2 }}" alt="">
                <img class="product__gallerythumb" src="{{ img3 }}" alt="">

            </div>

        </div>
        <!--Información del producto individual -->
        <div class="product__info">
            <h2 class="product__title">{{ title }}</h2>
            <h3 class="product__price">${{ price }}</h3>
            <!--cuando el producto tiene opciones disponibles (larga, corta, lisa, rizada) -->
            {{# if options}}
            <h3>This wig has these Divergent styles:</h3>
            <p>
                {{#each options}}
                <span>{{ this }}</span>
                {{/each}}
            </p>
            {{else}}

            <h3>This wig has a unique style</h3>
            {{/if}}

            <!--cuando al producto se le puede hacer cambios personalizados-->
            {{#if variations}}
            <h3>You can customize the wig</h3>
            <ol>
                {{#each variations}}
                <span class="product__customize">
                    <li>{{ name }} $:<strong>
                </span>{{ price }}</strong></li>
                {{/each}}
            </ol>
            {{/if}}

            <!--cuando la peluca tiene freeShipping (>$150) -->
            {{#if freeShipping}}
            <h3>This wig has Free Shipping Worldwide</h3>
            {{/if}}

            <!--cuando la peluca es Kardashian Kollection (>$100) -->
            {{#if kardashianAproved}}
            <h3 class="product__kk">This wig is Kardashian Kollection Aproved</h3>
            {{/if}}

            <!--cuando la peluca es topSeller (>3.5) -->
            {{#if topSeller}}
            <h3>This wig is a Top Seller in the world</h3>
            {{/if}}
            <p class="product__description">{{ description }}</p>

            <span class="product-bot">
                <button class="prod-btn" 
                data-id="{{ _id }}"
                data-img="{{ img }}"
                data-name="{{ title }}"
                data-price="{{ price }}"
                data-mini="{{ minidescription }}">
                <span class="prod-btnicon"><i class="fas fa-cart-plus"></i></span></i>Add to cart</button>
            </span>
        </div>
    </section>

</div>

<script src="/scripts/product.js"></script>