<!--Sección de tienda-->
<section class="shop">
    <!--Articulo del header de la tienda-->
    <article class="shop__header">
<h1>Store</h1>
<h3 class= "title">{{ title }}</h3>
<p class="holis">HELLOOOOW</p>

<aside>
    <h2>Filters</h2>
</aside>


    <h2>Lista de productos (20 prods)</h2>

    </article>

<!--Articulo del body de la tienda-->
<p>DDWigs has the following products</p>
<article class="shop__body">
<main class="productList">

    {{#each products}}
    <div class="thumb">
        <h4 class="thumb__title">{{ title }}</h4>
        <img class="thumb__img" src="{{ img }}" alt="">
        <p class="thumb__price">{{ price}}</p>
        <!--Dar click en el boton del store para pasar al product-->
        <a class="thumb__button" href="/product/{{title}}/{{ id }}">Ver más</a>
    </div>
    {{/each}}
</main>

    </article>


</section>