<div class="shopall">
    <!--Articulo aside de la tienda-->
    <article class="shopaside">

        <h2 class="shopaside__filter">Filters</h2>
        <h3 class="shopaside__titlestyle">Style</h3>
        <ul class="shopaside__ul">
            <a class="shopaside__link" href="?style=Blair">
                <li>Blair</li>
            </a>
            <a class="shopaside__link" href="?style=Florence">
                <li>Florence</li>
            </a>
            <a class="shopaside__link" href="?style=Kameron">
                <li>Kameron</li>
            </a>
            <a class="shopaside__link" href="?style=Isla">
                <li>Isla</li>
            </a>
            <a class="shopaside__link" href="?style=Elle">
                <li>Elle</li>
            </a>

        </ul>

        <h3 class="shopaside__titlerating">Rating</h3>
        <ul class="shopaside__ul">
            <a class="shopaside__link" href="?rating_gte=2.5&rating_lte=3.5">
                <li>2.5 - 3.5</li>
            </a>
            <a class="shopaside__link" href="?rating_gte=3.5&rating_lte=4.5">
                <li>3.5 - 4.5</li>
            </a>
            <a class="shopaside__link" href="?rating_gte=4.5&rating_lte=5.0">
                <li>4.5 - 5.0</li>
            </a>
        </ul class="shopaside__ul">

        <h3 class="shopaside__titlekarda">Collections</h3>
        <ul class="shopaside__ul">
            <a class="shopaside__link" href="?priceKardashian=100">
                <li>Kardashianz</li>
            </a>
            <a class="shopaside__link" href="?optionsDivergent=options">
                <li>Divergent</li>
            </a>
        </ul>

    </article>

    <!--Sección de tienda-->
    <section class="shop">

        <!--Articulo del header de la tienda-->
        <article class="shop__header">
            <nav>
                Sort by
                <div class="selectcont-css">
                    <select class="select-css">
                        <option value="" disabled="true" selected="true">Choose an option...</option>
                        <option value="price_desc">High to low</option>
                        <option value="price_asce">Low to high</option>
                        <option value="name_asce">A to Z</option>
                        <option value="name_desc">Z to A</option>
                    </select>
                </div>
            </nav>

            <p>DDWigs has the following products</p>
        </article>

        <!--Articulo del body de la tienda-->
        <article class="shop__body">
            <main class="productList">

                {{#each products}}
                <div class="thumb">
                    <img class="thumb__img" src="{{ img }}" alt="">
                    <h4 class="thumb__title">{{ title }}</h4>
                    <p class="thumb__minidescription">{{ minidescription }}</p>
                    <div class="thumb__info">
                        <p class="thumb__price">Price: $ {{ price }}</p>
                        <p class="thumb__rating">Rating: {{ rating }}</p><span class="thumb__star"><i
                                class="fas fa-star"></i></span>
                    </div>
                    <div class="thumb__link">
                        <!--Dar click en el boton del store para pasar al product individual-->
                        <a href="/product/{{title}}/{{ _id }}" class="thumb__button"><span class="thumb__buttonicon"><i
                                    class="fas fa-search-plus"></i></span>View</i></a>


                        <button class="prod-btn" data-id="{{ _id }}" data-img="{{ img }}" data-name="{{ title }}"
                            data-price="{{ price }}" 
                            data-mini="{{ minidescription }}" >
                            <span class="prod-btnicon"><i class="fas fa-cart-plus"></i></span>Add</i></button>

                    </div>
                </div>
                {{/each}}
            </main>

        </article>
</div>


<script src="/scripts/client.js"></script>
</section>